<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <configuration debug="true"/>
    <springProfile name="dev-gcp">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%level %logger %msg %n</pattern>
            </encoder>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>

        <logger name="io" level="WARN"/>
        <logger name="org" level="WARN"/>
        <logger name="com" level="WARN"/>
        <logger name="no.nav.security" level="WARN"/>
        <logger name="no.nav.pensjon.opptjening" level="INFO"/>
        <logger name="no.nav.security.token.support.core.validation" level="WARN"/>

        <root level="info">
            <appender-ref ref="stdout_json"/>
        </root>

        <appender name="team-logs" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>team-logs.nais-system:5170</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
                <customFields>
                    {"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${HOSTNAME}","nais_container_name":"${NAIS_APP_NAME}"}
                </customFields>
                <includeContext>false</includeContext>
            </encoder>
        </appender>

        <appender name="audit-logs" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>audit.nais:6514</destination>
            <writeBufferSize>128000</writeBufferSize>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${HOSTNAME} pensjon-opptjening-admin-web: %msg%n</pattern>
            </encoder>
        </appender>

        <logger name="audit" additivity="false">
            <appender-ref ref="audit-logs"/>
        </logger>

        <logger name="secure" additivity="false">
            <appender-ref ref="team-logs"/>
        </logger>
    </springProfile>

    <springProfile name="prod-gcp">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%level %logger %msg %n</pattern>
            </encoder>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="stdout_json"/>
        </root>

        <appender name="team-logs" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>team-logs.nais-system:5170</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
                <customFields>
                    {"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${HOSTNAME}","nais_container_name":"${NAIS_APP_NAME}"}
                </customFields>
                <includeContext>false</includeContext>
            </encoder>
        </appender>

        <appender name="audit-logs" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>audit.nais:6514</destination>
            <writeBufferSize>128000</writeBufferSize>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${HOSTNAME} pensjon-opptjening-admin-web: %msg%n</pattern>
            </encoder>
        </appender>

        <logger name="audit" additivity="false">
            <appender-ref ref="team-logs"/>
        </logger>

        <logger name="secure" additivity="false">
            <appender-ref ref="team-logs"/>
        </logger>
    </springProfile>
</configuration>